<ul>
  <li><a href="/administrators">Ver Administradores</a></li>
  <li><a href="/administrators/new">Adicionar Administrador</a></li>
  <li><a href="/languages">Ver Idiomas</a></li>
  <li><a href="/languages/new">Adicionar Idioma</a></li>
</ul>