<ul>
  <li><a href="addAdmin">Adicionar Administrador</a></li>
  <li><a href="removeAdmin">Remover Administrador</a></li>
  <li><a href="seeAdmin">Ver Administradores</a></li>
  <li><a href="updateAdmin">Atualizar Administrador</a></li>
</ul>