<ul>
  <li><a href="addEvent">Criar evento</a></li>
  <li><a href="removeEvent">Eliminar evento</a></li>
  <li><a href="listEvents">Ver eventos</a></li>
  <li><a href="updateEvent">Atualizar evento</a></li>
  <li><a href="filterEvents">Filtrar eventos</a></li>
</ul>