<div class="menu">
  <a href="<%= admin_addAdmin_path %>"><div class="option <%= @adminsMenu %>">Gerir Administradores</div></a>
  <a href="<%= admin_addEvent_path %>"><div class="option <%= @eventsMenu %>">Gerir Eventos</div></a>
</div>