<% content_for :title, "Adicionar Administrador" %>
<%= render "header" %>
<div class="box">
  <div class="menu">
    <div class="option active">Gerir Administradores</div>
    <div class="option">Gerir Eventos</div>
  </div>
  <div class="actions">
    <%= render "adminActions" %>
  </div>
  <div class="view" id="addAdmin">

    <div class="notifications">
    </div>
    <input type="text" id="nameVal" placeholder="Nome"/><br/>
    <input type="email" id="emailVal" placeholder="Email"/><br/>
    <input type="password" id="password1Val" placeholder="Password"/><br/>
    <input type="password" id="password2Val" placeholder="Confirme a password"/><br/>

    <button class="redButton" id="addAdminButton">Adicionar Administrador</button>
  </div>
</div>