<% content_for :title, "Adicionar Administrador" %>
<%= render "header" %>
<div class="box">
  <div class="menu">
    <div class="option active">Gerir Administradores</div>
    <div class="option">Gerir Eventos</div>
  </div>
  <div class="actions">
    <ul>
      <li><a href="#">Adicionar Administrador</a></li>
      <li><a href="#">Remover Administrador</a></li>
      <li><a href="#">Ver Administradores</a></li>
      <li><a href="#">Atualizar Administrador</a></li>
    </ul>
  </div>
  <div class="view">

  </div>
</div>