<% content_for :title, "Sistema Administrativo" %>
<%= render "header" %>
<div id="content">
  <div class="notifications">
  </div>
  <div id="forgotPasswordInfo">
     <input type="text" name="email" id="emailForgot" placeholder="e-mail"/> <br/>
     <button id="generatePasswordButton">Gerar Nova Password</button></br>
     Foi lhe enviado um email com o procedimento a seguir de forma a recuperar a sua palavra chave. Por favor verifique a sua conta de email.
  </div>
</div>
