<% content_for :title, "Adicionar Administrador" %>
<%= render "header" %>
<div class="box">
  <div class="menu">
    <div class="option active">Gerir Administradores</div>
    <div class="option">Gerir Eventos</div>
  </div>
  <div class="actions">
    <%= render "adminActions" %>
  </div>
  <div class="view" id="listAdmins">

    <% @admins.each do |admin|%>
    <div class="admin">
      <div class="name"><%=admin.name %></div>
      <div class="action"><button>Ver</button></div>
    </div>
    <% end %>

  </div>
</div>