<% content_for :title, "Sistema Administrativo" %>
<div id="header">
    <%=image_tag("logo-white.png", alt: "Museu Nacional Soares dos Reis")%>
</div>
<div id="content">
  <div id="loginForm">
    <%=image_tag("logo.png", alt: "Museu Nacional Soares dos Reis")%>
    <h2>Sistema administrativo</h2>
    <input type="text" id="emailVal" placeholder="e-mail"/> <br/>
    <input type="password" id="passwordVal" placeholder="password"/> <br/>
    <button>Entrar</button> <br/>
    <button>Esqueceu a password?</button>
  </div>
 </div>