<% content_for :title, "Lista de Eventos" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/eventsActions"  %>
  </div>


  <div class="view" id="listEvents">
    <div class="notifications">
      <% if flash[:notice] %>
          <div class="success"><%=flash[:notice]%></div>
      <% end %>
    </div>I
  </div>

</div>