<% content_for :title, "Criar Evento" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/eventsActions"  %>
  </div>

  <div class="view" id="addEvent">
    <div class="notifications"></div>
    <form action="addEvent" method="post" onsubmit="return validateAddEvent()">
      <input type="text" name="date" class="date" id="datepicker" placeholder="Data"/>
      <input type="text" name="local" placeholder="Localização" id="localInput" class="local"/>
      <div class="locationResults">
        <ul>
        </ul>
      </div>
      <textarea rows="10" placeholder="Inserir texto" name="text" id="text"></textarea><br/>
      Inserir Imagens
      <div class="imagesArea">
        <input type="file" name="image1" id="image1"/>
        <input type="file" name="image2" id="image2"/>
        <input type="file" name="image3" id="image3"/>
      </div>
      <button class="redButton" id="addEventButton">Adicionar Evento</button>
    </form>
  </div>

</div>