<% content_for :title, "Cronologia" %>
<div class="actions">
  <a href="puzzle" class="puzzle"><img src="assets/puzzle-icon.png"/></a>
</div>
<div class="timeline">


</div>

<div id="modal">
   <img class="picture" src="">
  <div class="close"><img alt="Museu Nacional Soares dos Reis" src="/assets/close.svg" width="100px" height="100px"></div>
    <div class="description">
      </div>

</div>
sdds