<% content_for :title, "Cronologia" %>
<div class="actions">
  <a href="puzzle" class="puzzle"><img src="assets/puzzle-icon.png"/></a>
</div>
<div class="timeline">

</div>
<button id="autoPlay">AutoPlay</button>
<% if @language.size != 1 %>
<div class = "lingua">
  <ul style="margin:0 auto;width: 100px">
    <li>
      <ul>
        <% @language.each do |lang|%>
            <% if lang.code != @lang_code %>
            <li class="other_lang"><a class="other_lang" href="#" onclick="changeLang('<%=lang.code%>')"> <img src="/assets/blank.gif" class="flag flag-<%= lang.code %>"/></a></li>
            <%end%>
        <% end %>
      </ul>
      <a class="lang_default" href="#"><img src="/assets/blank.gif" class="flag flag-<%= @lang_code %>"/> <label id="seta">&#9652</label></a>
    </li>
  </ul>
</div>
<%end%>
<div id="modal">

   <img class="picture" src="">
  <div class="close"><img alt="Museu Nacional Soares dos Reis" src="/assets/close.svg" width="100px" height="100px"></div>
    <div class="description">

      </div>

</div>

<div id="modal-noimage">

  <div class="close"><img alt="Museu Nacional Soares dos Reis" src="/assets/close.svg" width="100px" height="100px"></div>
  <div class="mod-title"> </div>
  <hr class="line">
  <div class="description">

  </div>

</div>
