$wineColor: #6E2528;
$wineColorLighter: #A77C70;
$yellowColor: #F8F2D2;
$redColor1: #83473E;
$redColor2: #915953;
$lightGray: #B2AFAE;


body {
	margin: 0;
	padding: 0;
	background: $wineColorLighter;
    font-size: 13px;
}


#header {
	background: $wineColor;
	padding: 20px;
	min-height: 40px;
}

#content {
	margin-top: 60px;
	overflow: auto;
}

#loginForm{
	background: white;
	width: 200px;
	padding: 50px;
	min-height: 200px;
	margin: 0 auto;
	text-align: center;

	h2 {
		color: #6E2528;
		font-size: 18px;
		font-weight: bold;
	}

	$elementsSize : 200px;


	input {
		padding: 7px 20px 7px 20px;
		width: $elementsSize;
		box-sizing: border-box;
		border: solid 2px $wineColor;
		border-radius: 4px;
		margin-bottom: 10px;

	}

    button {
		padding: 7px 20px 7px 20px;
		width: $elementsSize;
		background: $wineColor;
		color: white;
		border: 0;
		cursor: pointer;
	}

    #forgotPasswordButton{
      background: $yellowColor;
      color: black;
    }
}

.notifications {
  margin-bottom: 5px;

  div {
    color: white;
    padding: 5px;
    text-align: center;
  }

  .error {
    background: red;
  }
  .success {
    background: green;
  }
}

.administrator {
  float: right;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 30px;
}

.logout {
  float: right;
  margin-top: 10px;
  button {
    padding: 5px 15px 5px 15px;
    border: solid 1px #282828;
    background: #83473E;
    color: white;
    cursor: pointer;
  }
}

.box{
  width: 500px;
  background: white;
  margin: 0 auto;
  margin-top: 100px;
  overflow: auto;
  margin-bottom: 100px;

  .menu {
    .option{
      width: 50%;
      text-align: center;
      padding: 10px 0 10px 0;
      background: $lightGray;
      color: white;
      font-size: 17px;
      float: left;
      cursor: pointer;
    }

    .option.active {
      background: $wineColor;
    }
  }

  .actions {
    background: #FAF1D4;
    width: 200px;
    height: 450px;
    float: left;
    border-right: solid 1px #231F20;
    ul {
      padding: 0;
      width: 100%;
      list-style: none;
    }

    li {
      padding-left: 25px;
      margin-top: 25px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover{
      text-decoration: underline;
    }
  }

  .view {
    width: 269px;
    padding: 15px;
    float: right;

    input {
      font-size: 15px;
      padding: 10px 20px 10px 20px;
      border: solid 1px #9B9796;
      box-sizing:border-box;
      width: 100%;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
    }
  }

}

/* Common Button */
.redButton{
  background: $wineColor;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.neutralButton{
  background: $lightGray;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}


/* List Admins */
.admin{
  font-size: 18px;
  color: #282828;
  padding: 15px 0;
  border-bottom: solid 1px #9B9796;
  overflow: auto;

  .name {
    float: left;
  }

  .action{
    float: right;

    button {
      background: $redColor1;
      border: none;
      color: white;
      padding: 5px 30px;
      cursor: pointer;
    }
    button:hover {
      background: $redColor2;
    }
  }
}

/* Add Event */
#addEvent {
  textarea {
    width: 100%;
  }
}