$wineColor: #6E2528;
$wineColorLighter: #A77C70;
$yellowColor: #F8F2D2;


body {
	margin: 0;
	padding: 0;
	background: $wineColorLighter;
    font-size: 13px;
}


#header {
	background: $wineColor;
	padding: 20px;
	min-height: 40px;
}

#content {
	margin-top: 60px;
	overflow: auto;
}

#loginForm{
	background: white;
	width: 200px;
	padding: 50px;
	min-height: 200px;
	margin: 0 auto;
	text-align: center;

	h2 {
		color: #6E2528;
		font-size: 18px;
		font-weight: bold;
	}

	$elementsSize : 200px;


	input {
		padding: 7px 20px 7px 20px;
		width: $elementsSize;
		box-sizing: border-box;
		border: solid 2px $wineColor;
		border-radius: 4px;
		margin-bottom: 10px;

	}

    button {
		padding: 7px 20px 7px 20px;
		width: $elementsSize;
		background: $wineColor;
		color: white;
		border: 0;
		cursor: pointer;
	}

    #forgotPasswordButton{
      background: $yellowColor;
      color: black;
    }
}

.notifications {
  margin-bottom: 5px;
  .error {
    color: white;
    background: red;
    padding: 5px;
  }
}

.administrator {
  float: right;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 30px;
}

.logout {
  float: right;
  margin-top: 10px;
  button {
    padding: 5px 15px 5px 15px;
    border: solid 1px #282828;
    background: #83473E;
    color: white;
    cursor: pointer;
  }
}

.box{
  width: 500px;
  min-height: 500px;
  background: white;
  margin: 0 auto;
  margin-top: 100px;

  .menu {
    .option{
      width: 50%;
      text-align: center;
      padding: 10px 0 10px 0;
      background: #B2AFAE;
      color: white;
      font-size: 17px;
      float: left;
      cursor: pointer;
    }

    .option.active {
      background: #6E2528;
    }
  }

  .actions {
    background: #FAF1D4;
    width: 200px;
    float: left;
    height: 100%;
  }

}