// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$wineColor: #6E2528;
$wineColorLighter: #A77C70;
$yellowColor: #F8F2D2;
$redColor1: #83473E;
$redColor2: #914c50;
$lightGray: #B2AFAE;
$deleteColor: #CC3333;
$deleteColorHover: #CC583E;


#listEvents {

  overflow: auto;

  .event {
    font-size: 18px;
    color: #282828;
    padding: 15px 0;
    border-bottom: solid 1px #9B9796;
    overflow: auto;

    .action{
      float: right;

      button {
        background: $redColor1;
        border: none;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        float: right;
        width: 80px;
        margin-right: 10px;

        &.delete{
          background: $deleteColor;

          &:hover {
            background: $deleteColorHover;
          }
        }
      }
      button:hover {
        background: $redColor2;
      }
    }
  }
}

.imagesArea {

  .image-div {
    width: 32.2%;
    display: inline-block;
    border: 1px solid #9B9796;

    .upload {
      width: 70px;
      color: transparent;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 0px;
      padding: 0px;
      border: none;
    }

    img{
      padding-top: 5px;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }

    label{
      margin-right: auto;
      margin-left: auto;
      display: block;
      text-align: center;
      padding-bottom: 3px;
    }
  }
}

.imagesArea-new {

  .image-div {
    width: 100%;
    display: inline-block;
    border: 1px solid #9B9796;
    margin-bottom: 8px;

    .left {
      width: 25%;
      float: left;
    }

    .right {
      width: 75%;
      float: right;
      margin-top: 5px;

      .captionText {
        width: 87%;
        padding: 10px;
        margin-top: 0px;
        resize: none;
      }
    }

    .upload {
      font-size: 10px;
      margin-top: 2px;
      width: 70px;
      color: transparent;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 0px;
      padding: 0px;
      border: none;
    }

    img{
      padding-top: 5px;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }

    label{
      margin-right: auto;
      margin-left: auto;
      display: block;
      text-align: center;
      padding-bottom: 3px;
    }
  }
}
