$colorDarkGray : #282828;
$colorYellow: #F8EABC;
$colorWine: #6E2528;
$colorLightWine: #A57E72;

body {
  // background: $colorDarkGray;
}


.timeline{
  height: 500px;
  background-color: $colorYellow;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .year{
    display: table-cell;
    overflow: auto;
    height: 100%;

    .images{
      padding: 20px;

      img{
        vertical-align:text-top;
        width: 250px;
        height: auto;
        margin: 10px;
      }
    }
  }


  .navigation{
    background: $colorWine;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    text-align: center;
    font-size: 26px;
    font-family: "Georgia";
    padding-top: 6px;
  }
}

