$colorDarkGray : #282828;
$colorYellow: #F8EABC;
$colorWine: #6E2528;
$colorLightWine: #A57E72;

body {
  // background: $colorDarkGray;
}


.timeline{
  height: 500px;
  background-color: $colorYellow;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .year{
    display: table-cell;
    overflow: auto;
    height: 100%;

    .images{
      padding: 20px;

      img{
        vertical-align:text-top;
        height: 400px;
        width: auto;
        margin: 10px;
        cursor: pointer;
      }

      img:hover{
        box-shadow: 0px 10px 5px #b2a483;
      }
    }
  }


  .navigation{
    background: $colorWine;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    text-align: center;
    font-size: 26px;
    font-family: "Georgia";
    padding-top: 6px;
  }
}

#modal {
  display: none;
  width: 80%;
  height: 70%;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #4E4D46;

  z-index: 3;

  img {
    height: 100%;
    width: auto;
    float: left;
  }

  .description{
    display: table-cell;
    padding: 40px;
    font-size: 18px;
    font-family: "Georgia";
    color: white;
    vertical-align: top;

  }

  .close{
    overflow: auto;
    padding: 20px 20px 0 0 ;
    cursor: pointer;


    img {
      width: 20px;
      height: 20px;
      float: right;
    }
  }
}

.block{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: black;
  z-index: 2;
  opacity:0.9;
}
#puzzle{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.actions{

  img {
    height: 60px;
    width: auto;

  }
}

a.puzzle{
  position: fixed;
  right: 20px;
  top: 20px;

}

@media screen and (max-width: 1124px){
  #modal {
    height: 50%;
  }
}

.lingua {
  position:absolute;
  left:0;
  right:0;
  bottom: 0;

  ul{
    padding: 0;
    list-style: none;
  }
  ul li{
    width: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  ul li a{
    display: block;
    padding: 5px 10px;
    color: #FFF;
    //background: #6e2528;
    text-decoration: none;
  }

  ul li a:hover{
    color: #fff;
    //background: $colorLightWine;

    img{
      -webkit-box-shadow: 0px 0px 9px 10px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 9px 10px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 9px 10px rgba(50, 50, 50, 0.75);
    }
  }

  ul li .other_lang{
    display: none;

    .flag {
      margin-right: 10px;

    }
  }

  ul li:hover .other_lang{
    display: block;
  }

  ul li:hover .other_lang .img{
    -webkit-box-shadow: 0px 0px 9px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 9px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 9px 10px rgba(50, 50, 50, 0.75);
  }

  .flag {
    width: 25px;
    height: 15px;
    background: url("flags.png") no-repeat;

  }

  .flag.flag-de {background-position: -25px 0}
  .flag.flag-es {background-position: -50px 0}
  .flag.flag-fr {background-position: -75px 0}
  .flag.flag-en {background-position: 0 -15px}
  .flag.flag-el {background-position: -25px -15px}
  .flag.flag-it {background-position: -50px -15px}
  .flag.flag-nl {background-position: -75px -15px}
  .flag.flag-pt {background-position: 0 -30px}
  .flag.flag-ru {background-position: -25px -30px}
  .flag.flag-sv {background-position: -50px -30px}
  .flag.flag-tr {background-position: -75px -30px}

}

.btn-wine{
  padding: 5px 15px 5px 15px;
  border: solid 1px #282828;
  background: #83473E;
  color: white;
  cursor: pointer;

}

.btn-back{
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  position: fixed;
  right: 20px;
  top: 20px;
}