$colorDarkGray : #282828;
$colorYellow: #F8EABC;
$colorWine: #6E2528;
$colorLightWine: #A57E72;

body {
  // background: $colorDarkGray;
}


.timeline{
  height: 500px;
  background-color: $colorYellow;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .year{
    display: table-cell;
    overflow: auto;
    height: 100%;

    .images{
      padding: 20px;

      img{
        vertical-align:text-top;
        width: 250px;
        height: auto;
        margin: 10px;
        cursor: pointer;
      }

      img:hover{
        box-shadow: 0px 10px 5px #b2a483;
      }
    }
  }


  .navigation{
    background: $colorWine;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;


    text-align: center;
    font-size: 26px;
    font-family: "Georgia";
    padding-top: 6px;
  }
}

#modal {
  display: none;
  width: 80%;
  height: 70%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #4E4D46;

  z-index: 3;

    img {
      height: 100%;
      width: auto;
      float: left;
    }

  .description{
    display: table-cell;
    padding: 40px;
    font-size: 18px;
    font-family: "Georgia";
    color: white;
    vertical-align: top;

  }

  .close{
    overflow: auto;
    padding: 20px 20px 0 0 ;
    cursor: pointer;


    img {
      width: 20px;
      height: 20px;
      float: right;
    }
  }
}

.block{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: black;
  z-index: 2;
  opacity:0.9;
}
#puzzle{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.actions{
  height: 60px;
  overflow: auto;
  padding: 20px;
  text-align: right;

  img {
    height: 100%;
    width: auto;
  }
}

a.puzzle{

}
@media screen and (max-width: 1124px){
  #modal {
    height: 50%;
  }
}

