<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Museu Soares dos Reis Recuperacao da Password</h1>
    <p>
      Caro <%= @user.name %>
    </p>
    </br>
    <p>
      A sua password temporaria: <%= @temp %>
    </p>
    </br>
    <p>
      Por favor mude assim que for possivel
    </p>
  </body>
</html>
